<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="ConnectSDK" type="Worldline.Connect.Sdk.CommunicatorConfigurationSection, Worldline.Connect.Sdk" />
	</configSections>
	<ConnectSDK connectTimeout="-1" socketTimeout="-1" maxConnections="1" authorizationType="v1HMAC" integrator="Worldline">
		<apiEndpoint host="api.preprod.connect.worldline-solutions.com" scheme="https" />
	</ConnectSDK>
</configuration>
